<!-- Extend the base file -->
{% extends 'base.html' %}


{% block title %}
<title> Home Page </title>
{% endblock %}


{% block content %}

    <!-- Body  -->
    <div class="container-fluid mt-3">
        <div class="row">

            <!-- Filter categories -->
            <div class="col-lg-2 mt-2 mx-auto">
                <div class="list-group">
                  <!-- Iterate trhough the categories -->
                  <a href="/" class="list-group-item list-group-item-action" aria-current="true">All Products</a>
                  {% for category in categories %}
                      <a href="/?category={{category.id}}" class="list-group-item list-group-item-action" aria-current="true">{{category.name}}</a>
                  {% endfor %}
              </div>
            </div>


            <!-- All products -->
            <div id="products" class="col-lg-9 mt-2 mx-auto">
                <div class="row mx-auto">
                <!-- Iterate through the products -->
                {% for product in products %}

                    <!-- Create a card to show products -->
                    <div class="card mx-auto mb-3" style="width: 18rem;">
                        <img src="{{product.image.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}}</p>
                            <a href="#" class="btn btn-primary border btn-sm">Add to Card</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
