{% extends 'base.html' %}

{% block title %}
<title> Sign Up </title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded p-4">
                <h3 class="alert alert-light">Log in here</h3>
                <form action="/login" method="post">

                    {% if error %}
                    <!-- Add an alert messsage -->
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endif %}

                    <!-- Add a csrf token -->
                    {% csrf_token %}

                    <!-- email -->
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input required value="{{values.email}}" type="email" name="user-email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <!-- password -->
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input required type="password" name="user-password" class="form-control" id="exampleInputPassword1">
                    </div>

                  <button  type="submit" class="btn col-lg-4 btn-primary">Login</button>
                </form>
            </div>
    </div>
</div>

{% endblock %}
