*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.store-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: white;
    
}
.store-details-container{
    width:85%;
    background: var(--grad);
    border-radius: 15px;
    margin: 2%;
    box-shadow: 2px 0px 7px 2px rgba(0, 0, 0, 0.09);
    
}

.store-details{
    background: var(--grad);
    border-radius: 15px;
    width: 96%;
    padding: 2%;
    display: flex;
    align-items: center;
}

.store-logo-container{
    background:var(--light);
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.store-details div{
    margin-left: 1%;
}

.store-logo{
    width: 67%;
    height:67%
}

.address{
    font-size: 0.9rem;
    margin: 1.25% 0;
}

.store-ph{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .store-details .name{
    margin-top: 30%;
    
} */

.small-wave{
    position: relative !important;
    flex: 1;
}

.store-details-container .custom-shape-divider-bottom-1621667290 {
    position: relative;
   }

.store-details-container .custom-shape-divider-bottom-1621667290 .shape-fill{
    fill:#F6F7FB
}

.store-products{
    width: 100%;

    /* padding: 2%; */
    background-color: #F6F7FB;
}

@media (max-width:800px){
    .store-details-container{
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .store-details{
        justify-content: space-around;
    }
}
   