.store-card-container {
  margin: 1.5% 1%;
  transform-style: preserve-3d;
  width: 18%;
  height: 35%;
  max-width: 30rem;
  max-height: 35rem;
  min-height: 12rem;
  /* background-color: rgba(255, 255, 255, 0.2); */
  background-color: white;
  z-index: 2;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s ease-in;
}

.store-card-container:hover{
  cursor: pointer;
  
  transform: scale(1.05);
}

.store-title-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5%;
  
}

.store-title-details .store-image {  
  /* height: 100%; */
  height:10rem;
  width: 80%;
  /* width: auto; */
  padding: 5%;
}

.store-name {
  font-size: 1.5rem;
  padding: 2.5% 0;
  margin:0 0 5% 0 ;
  width: 100%;
  text-align: center;
  box-shadow: 0 10px 5px -10px rgba(0,0,0,0.2);
  background: var(--grad);
  /* font-size: 100px; */
  background-clip: text;
  color: transparent;
}

.store-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-around; */
  width: 100%;
  padding: 1.5%;
  box-sizing: border-box;
}

.store-info.column {
  display: inline-block;
  min-height: 150px;
  width: 33.33%;
  border: 1px solid black;
  /*min-width: 300px;*/
  margin-bottom: 8px;
  font-size:5px;
}

#address{
  font-size: 0.75rem;
  height: 6vh;
  color: var(--dark);
  font-weight: 500;
  
  
}

.more-button {
  background-color: var(--accent);
  border-radius: 50%;
  padding: 2.75% 6%;
  border: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--light);
  cursor: pointer;
  text-align: center;
}

@media (max-width:800px){
  .store-card-container{
    width: 75%;
    
  }

  .more-button{
    font-size: 1.75rem !important;
    padding: 1.5% 5% !important;
  }

  #address{
    font-size: 17px;
  }
}
