@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background: white;
  height: 100%;
  width: 100%;
}

.about-content {
  display: block;
  width: 80%;
  min-height: 60vh;
  /* background: #34495e; */
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  position: relative;
  /* padding: 150px 10% 50px 10%; */
  padding: 5% 10% 0 10%;
}

.about-form iframe {
  height: 100%;
  width: 100%;
}

.about-form {
  width: 75vw;
  height: 42vw;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.about-container h1{
  background: var(--grad);
  /* font-size: 100px; */
  background-clip: text;
  color: transparent;
  padding: 2.5% 0 0 0 ;
}

.about-container p{
  width: 70%;
  padding: 1.25% 0 2.5% 0;
}
