body {
  background-color: var(--accent);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width:800px){
  .product-container{
    flex-direction: column;
  }
  
}