@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

.hero-container{
    height:92.5vh;
    /* width: 100%; */
    display:flex;
    flex-direction: row;
    background-color: var(--primary);
}

.hero-section{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    font-size: 4rem;
    font-weight: 800;
    padding: 5%;
}

img{
    width: 80%;    
}

@media (max-width: 800px) {

    .hero-container{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-section {
        height: auto;
        width: 100%;
    }

    .hero-heading{
        font-size: 3rem;
        padding: 10% 5%;
    }

    /* .hero-section:nth-child(2){
        height: 50%;
    } */

    img{
        padding: 10%
    }
}
