@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}

body{
    background: linear-gradient(270deg, hsla(235, 70%, 60%, 1) 35%, hsla(197, 85%, 51%, 1) 100%);
}

.hero-container{
    top:0%;
    height:92.5vh;
    /* width: 100%; */
    display:flex;
    flex-direction: row;
    /* background-color: var(--accent); */
    background: linear-gradient(270deg, hsla(235, 70%, 60%, 1) 35%, hsla(197, 85%, 51%, 1) 100%);


}

.hero-section{
    top:0%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    font-size: 4rem;
    font-weight: 800;
    padding: 5%;
    color: var(--light)
}

img{
    width: 80%;    
}

@media (max-width: 800px) {

    .hero-container{
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hero-section {
        height: auto;
        width: 100%;
    }

    .hero-heading{
        font-size: 3rem;
        padding: 10% 5%;
    }

    /* .hero-section:nth-child(2){
        height: 50%;
    } */

    img{
        padding: 10%
    }
}
.custom-shape-divider-bottom-1621667290 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1621667290 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 84px;
}

.custom-shape-divider-bottom-1621667290 .shape-fill {
    fill: #FFFFFF;
}
