body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #DB4A20;
  --accent: #525FE1;
  --light: #e7ecef;
  --light-translucent: #e7ecef3a;
  --dark: #030119;
  --dark-translucent: #030119b1;
  --grad: linear-gradient(270deg, hsla(235, 70%, 60%, 1) 35%, hsla(197, 85%, 51%, 1) 100%);
}
body::-webkit-scrollbar {
  width: 0.5rem;
  cursor: pointer;
  
}

body::-webkit-scrollbar-track {
  background-color: var(--dark-translucent);
  
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 100rem;
  cursor: pointer;
  height: 10rem;
}

Link{
  text-decoration: none;
}